// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
  // font-family: sans-serif;
}
.header {
  width: 100%;
  padding: 0 200px;
  background-color: white;
  &__box {
    &__top {
      height: 70px;
      display: flex;
      align-items: center;
      &__logo {
        margin-right: 30px;
        .header__logo {
          height: 40px;
          width: 140px;
        }
      }
      &__input {
        width: 100%;

        &__search {
          display: flex;
          align-items: center;
          width: 100%;

          button {
            background-color: #3CCACE;
            height: 40px;
          }
        }
        .search-input {
          width: 100%;
          height: 40px;
          padding:5px;
        }
        
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      &__categorie {
        display: flex;
        &__list {
          text-decoration: none;
          list-style: none;
          margin-right: 50px;
          color: black;
          font-size: 14px;
        }
      }
      &__user {
        display: flex;
        &__btn {
          text-decoration: none;
          list-style: none;
          margin-left: 25px;
          color: black;
          font-size: 14px;
        }
      }
    }
  }
}

.main__first {
  height: 560px;
  background-image: url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  &__content {
    padding: 200px 80px;
    &__text {
      font-size: 60px;
      letter-spacing: 2px;
      margin-bottom: 10px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: white;
    }
    &__p {
      font-size: 20px;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin-bottom: 10px;
    }
    &__logo {
      margin-top:15px ;
    }
  }
}
.main__second__content {
  padding: 60px 20px;
  &__text h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  &__text h2::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__box {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .main__second__content__box__reason {
    width: 300px;
    margin: 5px 25px 0 25px;
    position: relative;
    &__h2 h2 {
      font-weight: bold;
      font-size: 24px;
      margin: 15px 0;
    }
    span {
      color: #3CCACE;
      margin-right:10px;
    }
    p {
      text-align: left;
    }
    &__p {
      font-size: 18px;
      margin: 16px 0 0;
      .p {
        text-align: center;
      }
    }
  }

  .main__second__content__box__reason__last {
    width: 300px;
    margin: 5px 25px 0 25px;
    position: relative;
    &__h2 h2 {
      font-weight: bold;
      font-size: 24px;
      margin: 15px 0;
    }
    span {
      color: #3CCACE;
      margin-left:10px;
    }
    p {
      text-align: left;
    }
    &__p {
      font-size: 18px;
      margin: 16px 0 0;
      .p {
        text-align: center;
      }
    }
  }






  .main__second__content__box__number {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3CCACE;
    color: white;
    font-size: 30px;
    padding-top: 5px;
  }
}
.main__second__bottom {
  background-image: url("/assets/bg-topMiddleDl-pict.jpg");
  background-size: cover;
  height: 400px;
  &__content {
    padding: 100px 200px;
    &__text {
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      h2 {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        color: white;
        font-size: 18px;
      }
    }
  }
}
.main__third {
  &__text {
    margin: 50px 0;
  }
  &__text h2 {
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    position: relative;
  }
  &__text h2::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__box {
    display: flex;
    justify-content: center;
    &__info {
      width: 280px;
      margin-left: 50px;
      margin-bottom:50px;
      h3 {
        margin: 20px 0;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
      }
      p {
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}

.item {
  background-color: #F8F8F8;
  padding: 60px 0;
  .item__text h2{
    font-size: 27px;
    text-align: center;
    font-weight: bold;
  }
  .item__box {
    display: flex;
    padding: 15px 100px;
    &__info {
      width: 25%;
      border: 1px solid #000000;
      text-align: center;
      margin: 0 10px;
      &__name {
        border-top: 1px solid #000000;
      }
    }
  }
}
.main__bottom {
  background-image: url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  background-size: cover;
  &__box__text {
    text-align: center;
    color: #fff;
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
  &__box__btn {
    text-align: center;
    display: flex;
    justify-content: center;
    &__logo{
      margin-top:15px;
      margin-left:10px;
    }
  }
}

.footer {
  padding: 60px 0;
  background-color: #272727;
  color: white;
  text-align: center;
  &__box {
    display: flex;
    justify-content: center;
    &__info {
      margin: 0 70px;
      h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
  p {
    display: block;
    font-size: 14px;
  }
}

.icon {
  width: 120px;
  height: 110px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  padding: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  p {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
    color:white;
  }
}


