* {
  box-sizing: border-box;
}



  .single-container{
    background-color: #f5f5f5;
      text-align: center;

        .single-header{
          height: 130px;
          background-color: #f5f5f5;
          color: #ffffff;
          text-align: center;
          font-size: 36px;
          line-height: 140px;
    }
  }

  .single-main{
  height:340px;
  width:700px;
  margin: 0 auto;
  background-color: white;

    .l-sigle-head{
      text-align: center;
      font-size: 22px;
      line-height: 90px;
      font-weight: bold;
    }

    .l-single-innner.registration-form{
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
    }
   
  }

  .single-footer{
      width: 456px;
      height: 468px;
      margin: 0 auto;
      .cleafix{
        display: flex;
        font-size: 12px;
        margin: 0 0 0 40px;
        justify-content: space-between;
        text-decoration: none;
      }
      .single-footer-logo{
        width: 450px;
        height: 65px;
        margin: 40px auto 0;
        .footer-img{
          padding-left: 135px;
        }
      }
  }

  
  
  p{
    text-align: center;
  }

  nav{
    padding-top: 250px;
    padding-bottom: 60px;
  }



  .contents__btn--facebook{
    text-decoration: none;
    background: #385185;
    color: #fff;
    height: 40px;
    width: 340px;
    padding-top: 16px;
    margin-bottom: 20px;
    position: relative;
  }

  .contents__btn--google{
    text-decoration: none;
    color:beige;
    background-color: green;
    height: 40px;
    width: 340px;
    padding-top: 16px;
    position: relative;

  }   
  
  .contents__btn--mail{
    text-decoration: none;
    color: #fff;
    background-color: #ea352d;
    margin-bottom: 20px;
    height: 49px;
    padding-top: 16px;
    width: 340px;
    margin-top: 40px;
    position: relative;
  }
  

  .contents__btn--icongo{
    position: absolute;
    right: 297px;
    bottom: 13px;
    font-size: 15px;
  }

  .contents__btn--iconfa{
    position: absolute;
    right: 293px;
    bottom: 7px;
    font-size: 27px;
  }
  .far.fa-envelope{
    position: absolute;
    right: 290px;
    bottom: 7px;
    font-size: 30px;
  }


  .privacy{
    text-decoration: none;
    color: black;
  }
  
  .userrule{
    text-decoration: none;
    color: black;
  }

  .taade{
    text-decoration: none;
    color: black;
  }

  a{
    display: block;
  }